.highlight
	background-color #FFFF00

.prompt
	font-size 24px

#term
//	width 30px
//	height 30px
	font-size 24px

.primary.result
	.char
		font-size 42px

	.pinyin
		font-size 14px

	.english
		font-size 14px

table.terms
	line-height 24px

	.char
		font-size 24px

	tr
		border-bottom 1px solid

	td
		padding 6px 10px 6px
