.main {
  margin-top: 20px;
}
.highlight {
  background-color: #ff0;
}
.prompt {
  font-size: 24px;
}
#term {
  font-size: 24px;
  line-height: 32px;
  padding: 6px 10px;
  width: 100%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.options {
  display: none;
}
.category {
  line-height: 24px;
  display: inline-block;
  margin: 12px 0 6px;
  font-weight: bold;
}
.extra-controls {
  display: block;
  float: right;
}
tr.primary.result {
  background-color: #7dd4ff;
  border-bottom: 0;
}
tr.primary.result:first-child {
  border-top: 1px solid;
}
tr.primary.result:last-child {
  border-bottom: 1px solid;
}
tr.primary.result .char {
  font-size: 42px;
  line-height: 42px;
  text-align: center;
}
tr.primary.result .pinyin {
  font-size: 14px;
}
tr.primary.result .english {
  font-size: 14px;
}
table.terms {
  line-height: 24px;
}
table.terms .char {
  font-size: 24px;
}
table.terms tr {
  border-bottom: 1px solid #ccc;
}
table.terms td {
  padding: 6px 10px 6px;
}
