
.main
	margin-top 20px
.highlight
	background-color #FFFF00

.prompt
	font-size 24px

#term
	font-size 24px
	line-height 32px

.options
	display none

.category
	line-height 24px
	display inline-block
	margin 12px 0 6px
	font-weight bold

.extra-controls
	display block
	float right

.primary.result
	background-color #7DD4FF
	&tr
		border-bottom 0

	&:first-child
		border-top 1px solid

	&:last-child
		border-bottom 1px solid

	.char
		font-size 42px
		line-height 42px
		text-align center

	.pinyin
		font-size 14px

	.english
		font-size 14px

table.terms
	line-height 24px

	.char
		font-size 24px

	tr
		border-bottom 1px solid #ccc

	td
		padding 6px 10px 6px
